<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <header>
        <nav class="navbar" id="navbar">
            <img src="../img/Ardent.png" alt="Ardent Logo" id="img-navbar">
            <hr>
            <div id="navbar-left-feature">
                <a href="/"><span>Dashboard</span></a>
                <a href="">Top 10</a>
            </div>
            <div id="navbar-right-feature">
                <h4>Search</h4>
                <hr>
                <button id="home-signup" href="#top-ten">Sign Up</button>
                <button id="home-login" href="">Login</button>
            </div>
        </nav>
    </header>
    <div class="hero-section" id="hero-section">
        <div id="hero-title">
            <h1>Unlock the World of Perfect Bags</h1>
            <p>Explore expert reviews, comparisons, and top picks from 100.000+ Users.</p>
            <button>Become Reviewer Now</button>
        </div>
        <img src="../img/S_1.png" alt="Travel Backpack" id="img-hero">
    </div>
    <div class="top-ten" id="top-ten">
        
    </div>
</body>
</html>