<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="adminstyle.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
        <title>Admin Login</title>
    </head>
    <body>
        <div class="wrapper">
            <img src="../img/admin-login.jpg" alt="Admin Login Image" id="img-admin-login">
            <div id="admin-login-content">
                <h1>Log In</h1>
                <p>Hello Sir Dev.</p>
                <form method="POST" action="/adminlogin">
                    <div id="admin-login-email" class="admin-login-form-section">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" pattern=".+@ardent\.com" placeholder="user@ardent.com">
                        <span id = "check-admin-login-email-result"><%= emailProblem %></span>
                    </div>
                    <div id="admin-login-password" class="admin-login-form-section">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password">
                        <span id = "check-admin-login-password-result"><%= passProblem %></span>
                    </div>
                    <div id="input-admin-login" class="admin-login-form-section">
                        <input type="submit" value="Log In">
                        <span id = "check-admin-login-submit-result"><%= submitProblem %></span>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>