<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
    <title>Sign Up Page</title>
</head>
<body id="signup-body">
    <div id="singup-gambar">
        <img src="../img/signup-image.jpg" title="Sign Up Image" height="100px" width="100px"/>
    </div>
    <div id="singup-isi">
        <h1>Sign Up</h1>
        <p>Please insert information below</p>
        <form method="post" action="/login">
            <div id="singup-input-name">
                    <label for="name">Name:</label>
                    <input type="text" name="name">
            </div>
            <div id="singup-input-email">
                    <label for="email">Email:</label>
                    <input type="text" name="email">
            </div>
            <div id="singup-input-password">
                    <label for="password">Password:</label>
                    <input type="password" name="password">
            </div>
            <div id="singup-input-confirmpassword">
                    <label for="confirmpassword">Confirm Password:</label>
                    <input type="password" name="confirmpassword">
            </div>
            <div id="input-signup">
                <input type="submit" name="signup" value="Sign Up" />
            </div>
            <div id="go-login">
                <p>Already have an account?</p>
                <a href="/login">Log In</a>
            </div>
        </form>
    </div>
</body>