*{
    font-family: 'Roboto', sans-serif;
    background-color: #FFFEF9;
}
body{
    margin: 0px;
}
h1{
    font-size: 55px;
}
h1,h2,h3,h4,p{
    color: #323232;
}
::placeholder{
    color: 6E6E6E;
    font-weight: lighter;
    font-style: italic;
}

/* -------- Home.ejs --------*/
button, input[type="submit"]{
    background-color: #617A55;
    color: #FFFEF9;
    border-radius: 5px;
    height: 30px;
}
button:hover{
    background-color: #495c40;
    color: #d4d4d0;
    transition: 0.3s;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero-title{
    width: 30vw;
    margin: 0px auto 0px 120px;
}
#img-hero{
    margin: 0px 120px 0px auto;
    height: 25vw;
    width: 350px;
    object-fit: cover;
}
#hero-section button{
    width: 200px;
}
#navbar{
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    padding: 5px;
}
#navbar hr{
    margin: 0px 20px 0px 40px;
    height: 40px;
}
#img-navbar{
    height: 25px;
    object-fit: contain;
    margin: 10px 20px;
}
#navbar a{
    font-weight: 300;
    font-style: normal;
    margin-right: 20px;
    text-decoration: none;
    color: #1E1E1E;

}
#navbar span{
    font-weight: bold;
}
#navbar div{
    display: flex;
    align-items: center;
}
#navbar #navbar-right-feature{
    margin-left: auto;
    margin-right: 20px;
}
#navbar button{
    margin: 0px 10px;
    width: 100px;
    font-weight: bold;
}
#navbar #home-signup{
    background-color: white;
    border-color: #617A55;
    color: #1E1E1E;
}

/* ------- navbar-logged-in.ejs ------- */
#navbar-logged-in{
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    /*disini*/
    margin-bottom: 5px;
    position: absolute;
    width: 100vw;
/*     margin-bottom: 20px;
    padding: 2px 5px; */
}
#navbar-logged-in hr{
    margin: 0px 20px 0px 40px;
    height: 40px;
}
#img-navbar-logged-in{
    height: 25px;
    object-fit: contain;
    margin: 10px 20px;
}
#navbar-logged-in a{
    font-weight: 300;
    font-style: normal;
    margin-right: 20px;
    text-decoration: none;
    color: #1E1E1E;
}
#navbar-logged-in #user-logged-in{
    font-weight: bold;
    font-style: normal;
    margin-right: 20px;
    color: #1E1E1E;
    margin-left: 5px;
}
#navbar-logged-in span{
    font-weight: bold;
}
#navbar-logged-in div{
    display: flex;
    align-items: center;
}
#navbar-logged-in #navbar-logged-in-right-feature{
    margin-left: auto;
    margin-right: 20px;
}

#navbar-search-input{
    border: none;
}
#navbar-search-input::placeholder{
    font-style: normal;
    font-weight: bold;
    text-align: right;
    color: #1E1E1E;
    font-size: 14px;
}
#navbar-search-input form{
    width: 15px;
    margin: 10px;
    border: none;
    padding: 0px;
    height: 0px;
    font-size: 14px;
    padding: 0px;
    display: flex;
}
#navbar-search{
    display: flex;
}
#search-logo{
    width: 15px;
    border: none;
    margin-left: 5px;
}

/* ------- signup.ejs ------- */
.wrapper{
    display: flex;
}
#signup-image{
    width: 60vw;
    height: 100vh;
    object-fit: cover;
}
#signup-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35%;
}
#signup-content p, #signup-content h1{
    margin: 3px 0px;
}
#go-login{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: italic;
}
#go-login a{
    color: #617A55;
    font-weight: bold;
}
#signup-content p{
    color: #A0A0A0;
    font-size: 14px;    
}
.signup-form-section{
    display: flex;
    flex-direction: column;
    margin: 15px 0px 15px 0px;
}
.signup-form-section label{
    font-size: 14px;    
    margin-bottom: 5px;
}
.signup-form-section span{
    font-size: 10px;    
    color: red;
}
#signup-input-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*disini*/
    margin: 15px 100px 15px 0px;
}
#signup-input-firstName{
    width: 50%;
    margin: 0;
    padding-right: 5px;
    box-sizing: border-box;
}
#signup-input-lastName{
    width: 50%;
    margin: 0;
    padding-left: 5px;
    box-sizing: border-box;
}
form input,input[type="submit"]{
    height: 35px;
    border-radius: 5px;
    border: 1px #B5B5B5 solid;
    font-size: 14px;
    padding: 0px 10px;
}


/* ------- login-public.ejs -------- */

#login-public-image{
    width: 60vw;
    height: 100vh;
    object-fit: contain;
}
#login-public-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 35%;
}
#login-public-content p, #login-public-content h1{
    margin: 3px 0px;
}
#go-signup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-style: italic;
}
#go-signup a{
    color: #617A55;
    font-weight: bold;
}
#login-public-content p{
    color: #A0A0A0;
    font-size: 14px;    
}
.login-public-form-section{
    display: flex;
    flex-direction: column;
    margin: 15px 100px 15px 0px;
}
.login-public-form-section label{
    font-size: 14px;    
    margin-bottom: 5px;
}
.login-public-form-section span{
    font-size: 10px;    
    color: red;
}

/* ------- account-publik.ejs ------- */
#img-sand-background{
    width: 100vw;
    height: 61vh;
    object-fit: cover;
}
#account-publik-profil-content{
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.2);
    width: 90vw;
    height: 56vh;
    border-radius: 30px;
    position: absolute;
    top: 28vh;
    left: 5vw;
}
#account-publik-timeline-content{
    top: 100vh;
}

/* ------- login-admin.ejs ------- */
#admin-login{
    scale: 80%;
    width: 60vw;
    height: 100vh;
    object-fit: cover;
}
