<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
    <title>Import Database</title>
</head>
<body>
    <%- include('./layout/navbar.ejs') %>

    <h1>Import</h1>

    <form method="POST" action="/import" enctype="multipart/form-data">
        <label>
            Import Data
            <input type="file" name="databaseFile">
        </label>
        <br>
        <label>
            CSV
            <input type="file" name="csvFile">
        </label>
        <br>
        <button type="submit" id="importButton" onclick="return confirm('Are You Sure Want To Import The Database?')">Import</button>
    </form>
</body>
</html>
