<header>
    <nav class="navbar" id="navbar-logged-in">
        <img src="../img/Ardent.png" alt="Ardent Logo" id="img-navbar-logged-in">
        <hr>
        <div id="navbar-logged-in-left-feature">
            <a href="/dashboard-public"><span>Dashboard</span></a>
            <a href="dashboard-public">Top 10</a>
        </div>
        <div id="navbar-logged-in-right-feature">
            <%- include('./search.ejs') %>
            <hr>
            <p>Welcome, </p> <a href="./account-publik" id="user-logged-in"> <%= user %></a>
        </div>
    </nav>
</header>
