<header>
    <nav class="navbar" id="navbar">
        <img src="../img/Ardent.png" alt="Ardent Logo" id="img-navbar">
        <hr>
        <div id="navbar-left-feature">
            <a href="/"><span>Dashboard</span></a>
            <a href="">Top 10</a>
        </div>
        <div id="navbar-right-feature">
            <%- include('./search.ejs') %>
            <hr>
            <button id="home-signup" onclick="window.location.href = './signup';">Sign Up</button>
            <button id="home-login" onclick="window.location.href = './login';">Login</button>
        </div>
    </nav>
</header>