<header>
    <nav class="navbar" id="navbar-logged-in">
        <img src="../img/Ardent.png" alt="Ardent Logo" id="img-navbar-logged-in">
        <hr>
        <div id="navbar-logged-in-left-feature">
            <a href="/"><span>Dashboard</span></a>
            <a href="">Top 10</a>
        </div>
        <div id="navbar-logged-in-right-feature">
            <h4>Search</h4>
            <hr>
            <p>Welcome, </p> <a href="./account-publik" id="user-logged-in"> <%= user %></a>
        </div>
    </nav>
</header>
