<header>
    <nav class="navbar" id="navbar-logged-in">
        <img src="../img/Ardent.png" alt="Ardent Logo" id="img-navbar-logged-in">
        <hr>
        <div id="navbar-logged-in-left-feature">
            <a href="/dashboard-public"><span>Dashboard</span></a>
            <a href="dashboard-public">Top 10</a>
        </div>
        <div id="navbar-logged-in-right-feature">
            <%- include('./search.ejs') %>
            <hr>
            <p>Welcome, </p> <a href="./my-account" id="user-logged-in"> <%= user %></a>
            <a href="/logout">
                <img src="../img/logout-icon.png" alt="Log out icon" id="img-logout-icon">
            </a>
        </div>
    </nav>
</header>
