<header>
    <nav class="nav-admin" id="nav-admin">
        <img src="../img/Ardent.png" alt="Ardent Logo" id="img-navbar-logged-in">
        <hr>
        <div id="navbar-left-admin">
            <a href="/dashboard-admin">Dashboard</a>
            <a href="/topten-admin">Top 10</a>
            <a href="/input-admin">Input</a>
            <a href="/import">import</a>
            <a href="/stat">Statistics</a>
        </div>
        <div id="navbar-right-admin">
            <h4>Search</h4>
            <hr>
            <p>Welcome, <strong>Admin</strong></p>
        </div>
    </nav>
</header>