<form id="navbar-search" method="GET" action="/filter">
    <input type="text" id="navbar-search-input"name="search" placeholder="Search">
    <input type="image" src="../img/magnifying-glass-solid.svg" alt="magnifying-glass" id="search-logo">
</form>